{% block content %}
    <form class="form-signin">
        <h2 class="form-signin-heading">Upload your Mendeley XML</h2>
        <input type="file" class="input-block-level" placeholder="My Collection.xml" name="library">
        <button class="btn btn-large btn-primary btn-block" type="submit">Convert file</button>
    </form>
{% endblock %}