{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="offset3 span6">
            <form class="well" method="post" enctype="multipart/form-data">
                <h2 class="form-signin-heading">Upload your Mendeley XML</h2>
                <input type="file" class="input-block-level" placeholder="My Collection.xml" name="library">
                <button class="btn btn-large btn-primary btn-block" type="submit">Convert file</button>
            </form>
        </div>
    </div>
{% endblock %}